.navbar-bot {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: solid #fffffa;
  margin-right: 10em;
  margin-left: 10em;
  height: auto;
  position: fixed;
  top: 1;
  left: 0;
  right: 0;
  z-index: 1000;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar-bot p {
  margin: 0 1em;
  color: rgb(84, 84, 84);
  font-size: 1em;
  cursor: pointer;
}

.navbar-bot p:hover {
  color: #896e00;
}

.image-logo {
  width: 17vh;
  height: 14vh;
  margin-right: auto;
  margin-left: 15em;
}
/* @media (max-width: 768px) {
  .navbar-bot {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin-right: 1em;
    margin-left: 1em;
  }

  .navbar-bot p {
    margin: 0.5em; 
    font-size: 0.9em; 
  }

  .image-logo {
    width: 12vh; 
    height: 10vh;
    margin-left: 1em; 
  }
} */

@media (max-width: 768px) {
  .navbar-bot {
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem;
    margin: 0;
    position: fixed;

    left: 0;
    right: 0;
    z-index: 1000;
    top: 8em;
  }

  .navbar-bot img {
    margin: 0 auto;
    padding-bottom: 0.5rem;
  }

  .navbar-bot p {
    font-size: 0.9rem;
    padding: 0.25rem 0;
    text-align: center;
    width: 100%;
    margin: 0;
  }

  .image-logo {
    width: 120px;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .Dropdown {
    width: 100%;
  }
}
