.navbar-bot {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: solid #fffffa;
  margin-right: 10em;
  margin-left: 10em;
  height: auto;
  position: fixed;
  top: 1;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-bot p {
  margin: 0 1em;
  color: rgb(84, 84, 84);
  font-size: 1em;
  cursor: pointer;
}

.navbar-bot p:hover {
  color: #896e00;
}

.image-logo {
  width: 17vh;
  height: 14vh;
  margin-right: auto;
  margin-left: 15em;
}

@media (max-width: 768px) {
  .navbar-bot {
    flex-direction: column;
    align-items: start;
  }

  .image-logo {
    margin-bottom: 1em;
    margin-right: 0;
  }
}
